@model AquatrohrmsSite.Models.tblLogin

@{
    ViewBag.Title = "AddEmployee";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h2>AddEmployee</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <table>
        <tr>
            <td>@Html.LabelFor(model => model.tblEmployee.varFirstName)</td>
            <td>@Html.EditorFor(model => model.tblEmployee.varFirstName, new { @placeholder="First Name"})
                @Html.ValidationMessageFor(model => model.tblEmployee.varFirstName)</td>

            <td>@Html.EditorFor(model => model.tblEmployee.varMiddleName, new { @placeholder="Middle Name"})
                @Html.ValidationMessageFor(model => model.tblEmployee.varMiddleName)</td>

            <td>@Html.EditorFor(model => model.tblEmployee.varLastName, new { @placeholder="Last Name"})
                @Html.ValidationMessageFor(model => model.tblEmployee.varLastName)</td>
        </tr>


        <tr>
            <td>@Html.LabelFor(model => model.tblEmployee.intDepartmentID)</td>

            <td>

                @*    @Html.DropDownListFor(model => model.tblEmployee.tblDepartment.varDepartmentName)*@

                
                @foreach (var person in ViewBag.Departments)
                 {
                     <li>@person("intDepartmentID")</li>
                }
               
             @Html.ValidationMessageFor(model => model.tblEmployee.intDepartmentID)</td>
        </tr>



        <tr>
            <td>@Html.LabelFor(model => model.tblEmployee.intDesignationId)</td>
            <td>@Html.EditorFor(model => model.tblEmployee.intDesignationId)
                @Html.ValidationMessageFor(model => model.tblEmployee.intDesignationId)</td>
        </tr>

        <tr>
            <td>@Html.LabelFor(model => model.varLoginName)</td>
            <td>@Html.EditorFor(model => model.varLoginName)
                @Html.ValidationMessageFor(model => model.varLoginName)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.tblEmployee.varDOJ)</td>
            <td>@Html.EditorFor(model => model.tblEmployee.varDOJ)
                @Html.ValidationMessageFor(model => model.tblEmployee.varDOJ)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.varLoginName)</td>
            <td>@Html.EditorFor(model => model.varLoginName)
                @Html.ValidationMessageFor(model => model.varLoginName)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.varPassword)</td>
            <td>@Html.EditorFor(model => model.varPassword)
                @Html.ValidationMessageFor(model => model.varPassword)</td>
        </tr>
    </table>

        

       


    <p>
        <input type="submit" value="Create" />
    </p>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
