@model AquatrohrmsSite.Models.tblLogin

@{
    ViewBag.Title = "AddEmployee";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h2>AddEmployee</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <table>
        <tr>
            <td>@Html.LabelFor(model => model.tblEmployee.varFirstName)</td>
            <td>@Html.TextBoxFor(model => model.tblEmployee.varFirstName, new {@Placeholder="First Name"})
                @Html.ValidationMessageFor(model => model.tblEmployee.varFirstName)</td>

            <td>@Html.TextBoxFor(model => model.tblEmployee.varMiddleName, new { @Placeholder="Middle Name"})
                @Html.ValidationMessageFor(model => model.tblEmployee.varMiddleName)</td>

            <td>@Html.TextBoxFor(model => model.tblEmployee.varLastName, new { @Placeholder="Last Name"})
                @Html.ValidationMessageFor(model => model.tblEmployee.varLastName)</td>
        </tr>


        <tr>
            <td>@Html.LabelFor(model => model.tblEmployee.intDepartmentID)</td>

            <td>

                @Html.DropDownList("departs","select Department")

             @Html.ValidationMessageFor(model => model.tblEmployee.intDepartmentID)</td>
        </tr>



        <tr>
            <td>@Html.LabelFor(model => model.tblEmployee.intDesignationId)</td>
            <td> @Html.DropDownList("designation","select Designation")
                @Html.ValidationMessageFor(model => model.tblEmployee.intDesignationId)</td>
        </tr>
   
        <tr>
            <td>@Html.LabelFor(model => model.tblEmployee.varDOJ)</td>
            <td>@Html.EditorFor(model => model.tblEmployee.varDOJ)
                @Html.ValidationMessageFor(model => model.tblEmployee.varDOJ)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.varLoginName)</td>
            <td>@Html.TextBoxFor(model => model.varLoginName, new { @Placeholder="pp@gmail.com"})
                @Html.ValidationMessageFor(model => model.varLoginName)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.varPassword)</td>
            <td>@Html.EditorFor(model => model.varPassword)
                @Html.ValidationMessageFor(model => model.varPassword)</td>
        </tr>
        @* <tr>
            <td>@Html.LabelFor(model => model.varConfirmPassword)</td>
            <td>@Html.EditorFor(model => model.varConfirmPassword)
                @Html.ValidationMessageFor(model => model.varConfirmPassword)</td>
        </tr>*@

        <tr>
            
        </tr>

         <tr>
           @* <td>@Html.LabelFor(model => model.tblEmployee.intEmployeeID)</td>
            <td> @Html.DropDownList("reportingto","select Reporting Person")
                @Html.ValidationMessageFor(model => model.tblEmployee.intEmployeeID)</td>*@


           @*  <td>@Html.LabelFor(model => model)</td>
             <td>@Html.DropDownList("Acesscontrol","select Acess")
                @Html.ValidationMessageFor(model => model)</td>*@
        </tr>

    </table>
    
    <div class="form-control">
        <h4>Status:-</h4>
    <input type="radio" name="Active" value="Active" > Active
        <input type="radio" title="Disable"  /> Disable
    </div>
    
  
    

    <p>
        <input type="submit" value="Create" />
    </p>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
