@model AquatrohrmsSite.Models.tblLogin


@{
    ViewBag.Title = "AddEmployee";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h2 style="width: 500px; font-family: 'Book Antiqua'; font-size: 23px"><b>Create Employee </b></h2>
<script type="text/javascript">
   
</script>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

<div style="height:15px"></div>
 <fieldset style="border:solid 1px black;font-family:'Book Antiqua';font-size:13px">    
    <table style="margin-left:15px">
        <div style="height:10px"></div>     
        <tr>
            <td style="width:100px"> Employee Name</td>            
            <td>
                @Html.TextBoxFor(model => model.tblEmployee.varFirstName, new {style="width: 200px; font-family: 'Book Antiqua'; font-size: 13px",@placeholder="First Name",id="txtFirstName" })<span style="color:red"><b> * </b></span>
                @Html.ValidationMessageFor(model => model.tblEmployee.varFirstName)
           </td>            
            <td>
               @Html.TextBoxFor(model => model.tblEmployee.varMiddleName, new { style = "width: 200px; font-family: 'Book Antiqua'; font-size: 13px", @Placeholder = "Middle Name", id = "txtMiddleName" })
               @Html.ValidationMessageFor(model => model.tblEmployee.varMiddleName)
        </td>
         <td>
              @Html.TextBoxFor(model => model.tblEmployee.varLastName, new { style = "width: 200px; font-family: 'Book Antiqua'; font-size: 13px", @Placeholder = "Last Name", id = "txtLastName" })
              @Html.ValidationMessageFor(model => model.tblEmployee.varLastName)
        </td>
        </tr>
        <tr>
            <td style="width:100px">Email ID</td>
            <td>
                @Html.TextBoxFor(model => model.tblEmployee.varOfficeEmailAdd, new { style = "width: 200px; font-family: 'Book Antiqua'; font-size: 13px", @Placeholder = "abc@a4technology.com", id = "txtLoginName" })<span style="color:red"><b> * </b></span>
                @Html.ValidationMessageFor(model => model.varUserName)
            </td>
        </tr>
        <tr>
            <td style="width:100px">Department</td>           
            <td>                  
                @Html.DropDownListFor(model => model.tblEmployee.intDepartmentID, @Model.DepartmentModel, new { style = "width: 213px;height: 25px;font-family: 'Book Antiqua'; font-size: 13px", id = "ddlDesignation" })      
               @* @Html.DropDownList("ddlDepartment", @Model.DepartmentModel, new { style = "width: 213px; height: 25px; font-family: 'Book Antiqua'; font-size: 13px", id = "ddlDepartment" })<span style="color:red"><b> * </b></span>*@
                @Html.ValidationMessageFor(model => model.tblEmployee.intDepartmentID)
            </td>
        </tr>
        <tr>
            <td style="width:100px">Designation</td>
            <td>
                @Html.DropDownListFor(model=>model.tblEmployee.intDesignationId, @Model.DesignationModel, new { style = "width: 213px;height: 25px;font-family: 'Book Antiqua'; font-size: 13px", id = "ddlDesignation" })<span style="color:red"><b> * </b></span>
                @Html.ValidationMessageFor(model => model.tblEmployee.intDesignationId)
            </td>
        </tr>
        <tr>
            <td style="width:100px">Date Of Joining</td>
            @*<td><input type="text" id="txtDateOfJoin" style="width: 200px; font-family: 'Book Antiqua'; font-size: 13px" placeholder="" /></td>*@
            <td>
               @Html.TextBoxFor(model => model.tblEmployee.varDOJ, new { style = "width: 213px; height: 25px; font-family: 'Book Antiqua'; font-size: 13px", type = "date" })<span style="color:red"><b> * </b></span>
               @Html.ValidationMessageFor(model => model.tblEmployee.varDOJ)
        </td>
        </tr>
        <tr>
            <td style="width:100px">Login Name</td>
            <td>
                @Html.TextBoxFor(model => model.varLoginName, new { style = "width: 200px; font-family: 'Book Antiqua'; font-size: 13px", @Placeholder = "abc@a4technology.com", id = "txtLoginName" })<span style="color:red"><b> * </b></span>
                @Html.ValidationMessageFor(model => model.varLoginName)
        </td>
        </tr>
        <tr>
            <td style="width:100px">Password</td>
            <td>
                @Html.TextBoxFor(model => model.varPassword, new { style = "width: 200px; font-family: 'Book Antiqua'; font-size: 13px", @Placeholder = "Password", id = "txtPassword" })<span style="color:red"><b> * </b></span>
                @Html.ValidationMessageFor(model => model.varPassword)
        </td>
        </tr>
        <tr>
            <td style="width:150px">Confirm Password</td>
            <td><input type="text" id="txtCrfmPassword" style="width: 200px; font-family: 'Book Antiqua'; font-size: 13px" placeholder="Confirm Password" /></td>            
        </tr>
        <tr>
            <td style="width:150px">Reporting Head</td>
            <td>@Html.DropDownListFor(model=>model.tblEmployee.intEmployeeID, @Model.EmployeeModel,new { style = "width: 213px;height: 25px;font-family: 'Book Antiqua'; font-size: 13px", id = "ddlReportingHead" })<span style="color:red"><b> * </b></span></td>
        </tr>
        <tr>
            <td style="width:150px">Access Levels</td>            
            <td>
                <div id="divStudentlist" style="height: 200px; overflow: auto;border:solid 1px black; width:230px;">
                    @foreach (var names in @Model.AccessList)
                    {
                        var checkBoxId = "chk" + names.Value;
                        var tdId = "td" + names.Value;
                        <table width="100%">
                            <tr>
                                <td style="width:2px">
                                    <input type="checkbox" id="@checkBoxId" style="margin-left:20px" value="@names.Value" />
                                </td>
                                <td id="@tdId" style="margin-left:-20px;width:100px">
                                    @names.Text
                                </td>
                            </tr>

                        </table>
                    }
                </div>
            </td>
        </tr>               
        <tr>
            <td style="width:150px">Status</td>
            <td>
               @Html.RadioButtonFor(model => model.tblEmployee.IsActive, "Active", true) Active @Html.RadioButtonFor(model => model.tblEmployee.IsActive, "InActive", false) InActive
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="Create" style="font-family: 'Book Antiqua'; font-size: 13px;width:100px" /> </td>                        
            <td><button type="reset" value="Reset" style="font-family: 'Book Antiqua'; font-size: 13px;width:100px">Reset</button></td>
        </tr>
    </table>
     
     <div style="height:20px"></div>
 </fieldset>

}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
