@model AquatrohrmsSite.Models.ChangePassword

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ChangePassword</h2>
<br />
@using (Html.BeginForm("ChangePassword","Login",FormMethod.Post)) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset style="border:solid 1px black;font-family:'Book Antiqua';font-size:13px">
    
        <div style="margin-left:15px">
            <div class="editor-label">
                <label>Old Password</label>
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.varPassword)
                @Html.ValidationMessageFor(model => model.varPassword)
            </div>

            <div class="editor-label">
                <label>New Password</label>
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.varNewPassword)
                @Html.ValidationMessageFor(model => model.varNewPassword)
            </div>
            <div class="editor-label">
                <label>Confirm Password</label>
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.varConfirmPassword)
                @Html.ValidationMessageFor(model => model.varConfirmPassword)
            </div>

            <p>
                <input type="submit" value="Create" />
            </p>
        </div>

    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
