@model AquatrohrmsSite.Models.tblLogin

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ChangePassword</h2>
<br />
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>tblLogin</legend>

        <div class="editor-label">
            <label>Old Password</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.varPassword)
            @Html.ValidationMessageFor(model => model.varPassword)
        </div>

        <div class="editor-label">
            <label>New Password</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.varPassword)
            @Html.ValidationMessageFor(model => model.varPassword)
        </div>
        <div class="editor-label">
            <label>Confirm Password</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.varPassword)
            @Html.ValidationMessageFor(model => model.varPassword)
        </div>

 



   

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
