@model AquatrohrmsSite.Models.ForgotPassword

@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h2>ForgotPassword</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset style="border:solid 1px black;font-family:'Book Antiqua';font-size:13px">
        <legend>ForgotPassword</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.varUserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.varUserName)
            @Html.ValidationMessageFor(model => model.varUserName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.varLoginName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.varLoginName)
            @Html.ValidationMessageFor(model => model.varLoginName)
        </div>

        <p>
            <input type="submit" value="Submit" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
